@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Belleza', sans-serif;
  font-size: 1em;
  color: #222831;
  background-color: #222831;
}
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}
header, footer {
  color: #eee;
  overflow: auto;
}
header img {
  height: 75px;
  margin: 100px 0 50px;
}
form {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
}
table {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
}
input {
  margin: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #222831;
  border-radius: 5px;
}
input[type="submit"] {
  width: fit-content;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  background-color: #ffd369;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #ffcb50;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  line-height: 70px;
}

@media (max-width: 800px) {
  header img {
    margin-top: 50px;
  }
  form {
    width: 80%;
  }
}